# Ignore all subdirectories (generally pipeline outputs) except a few
# (must be at the top to avoid unignoring previously ignored files in these
# directories)
*/
!pg/
!pg/**
!switch/
!switch/*
switch/in/
switch/out/
!adjust/
!adjust/**
!PowerGenome/
!PowerGenome/**

# include growth_rates/*.csv
!growth_rates/
growth_rates/*
!growth_rates/*.csv
# also include nested growth_rates/epri_med/dc and nondc output csvs
!growth_rates/epri_med/
!growth_rates/epri_med/**

# user-specific configuration
env.yml

# large data files (too big for github, can be re-created locally)
pg/extra_inputs/*.zip

# local cluster caches
pg/extra_inputs/cluster_assignments

# API keys
*api_key.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editor settings
.ipynb_checkpoints
.vscode
*.code-workspace
.spyderproject
.spyproject

# VS Code settings
.vscode

# log files
*.log

# macOS metadata (can make repository impossible to clone on Windows
Icon?
.DS_Store

# large data files in root
f8612024.zip
# databases
pg/PowerGenome.db
# backup and temp files
*.bak
scenario_management_mine.yml
switch_usa_pg_changes.patch
# old versions
growth_rates/zone_growth_caelp_old.csv
# output/comparison files
comparison_s4x5_vs_s20x1_2035.csv

# local run scripts
*.bat

# large data files
pg/extra_inputs/load_adjustments_caelp.csv
